.swiper {
    width: 100%;
    height: 75%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 100%;
  }
  .swiper-wrapper
  {
    max-height: 100% !important;
    height: 100% !important;
    display: flex !important; 

  }
  .swiper-pagination {
    bottom: 0% !important;
}
.swiper-pagination-bullet
{
  border-radius: 0 !important;
  width: 20px !important;
  margin-bottom: 10px !important;
}
.swiper-pagination-bullet-active {
  background-color: #f39c12 !important;
}

  .swiper-slide > .new-product-item > img
  {
    width: 200px;
    height: 200px;
  }
  .swiper-slide > .new-product-item 
  {
    width: 100%;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next::after,  .swiper-button-prev::after
  {
    display: none;
  }

  .swiper-button-next,  .swiper-button-prev
  {
    height: 70px !important;
    width: 45px !important;
    background-color: wheat;
    color:#f39c12 !important;
    font-size: 28px;
    border-radius: 20px;
  }
  @media screen and (min-width:400px)  
  {
  
    .swiper-slide > .new-product-item
    {
      margin-bottom: 0px;
    }
    
  }
